Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug() java.util.Random.nextLong() java.util.Random.nextLong() java.util.Random.nextLong() java.util.Random.nextLong() java.util.Random.nextLong() Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug() Logger.debug()