List.Add() List.Add() List.Add() List.Add() List.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Add() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Keys() Dictionary.Values() Dictionary.Values() Dictionary.Values() Dictionary.Values() Dictionary.Values() Dictionary.Values() Dictionary.Values() Dictionary.Values() Dictionary.Values() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf() List.IndexOf()