string.StartsWith() string.StartsWith() string.StartsWith() string.StartsWith() string.StartsWith() string.Remove() string.Remove() string.Remove() string.Remove() string.Remove() Dictionary.ContainsKey() Dictionary.ContainsKey() Dictionary.ContainsKey() Dictionary.ContainsKey() Dictionary.ContainsKey()