List.size() List.size() List.size() List.size() List.size() List.add() List.add() List.add() List.add() List.add() List.size() List.size() List.size() List.size() List.size() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.get() Class.getSimpleName() Class.getSimpleName() Class.getSimpleName() Class.getSimpleName() Class.getSimpleName()