List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.size() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.get() List.size() List.size() List.size() List.size() List.size() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll() List.addAll()