java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) java.lang.String.startsWith(String,int) Object.getClass() Object.getClass() Object.getClass() Object.getClass() Object.getClass() Log.isWarnEnabled() Log.isWarnEnabled() Log.isWarnEnabled() Log.isWarnEnabled() Log.isWarnEnabled() Log.warn() Log.warn() Log.warn() Log.warn() Log.warn() Object.getClass() Object.getClass() Object.getClass() Object.getClass() Object.getClass()