org.springframework.jdbc.Customer.setId(int) org.springframework.jdbc.Customer.setId(int) org.springframework.jdbc.Customer.setId(int) org.springframework.jdbc.Customer.setId(int) org.springframework.jdbc.Customer.setId(int) org.springframework.jdbc.Customer.setForename(String) org.springframework.jdbc.Customer.setForename(String) org.springframework.jdbc.Customer.setForename(String) org.springframework.jdbc.Customer.setForename(String) org.springframework.jdbc.Customer.setForename(String)