java.sql.ResultSetMetaData.getColumnCount() java.sql.ResultSetMetaData.getColumnCount() java.sql.ResultSetMetaData.getColumnCount() java.sql.ResultSetMetaData.getColumnCount() java.sql.ResultSetMetaData.getColumnCount() java.sql.ResultSetMetaData.getColumnTypeName(int) java.sql.ResultSetMetaData.getColumnTypeName(int) java.sql.ResultSetMetaData.getColumnTypeName(int) java.sql.ResultSetMetaData.getColumnTypeName(int) java.sql.ResultSetMetaData.getColumnTypeName(int) Class.getName() Class.getName() Class.getName() Class.getName() Class.getName()