Log.isDebugEnabled() Log.isDebugEnabled() Log.isDebugEnabled() Log.isDebugEnabled() Log.isDebugEnabled() Log.debug() Log.debug() Log.debug() Log.debug() Log.debug() Class.getName() Class.getName() Class.getName() Class.getName() Class.getName() Field.isAnnotationPresent() Field.isAnnotationPresent() Field.isAnnotationPresent() Field.isAnnotationPresent() Field.isAnnotationPresent() Map.get() Map.get() Map.get() Map.get() Map.get() Map.put() Map.put() Map.put() Map.put() Map.put() Map.remove() Map.remove() Map.remove() Map.remove() Map.remove()