Spring.Objects.Factory.Support.DefaultListableObjectFactory.RegisterObjectDefinition(string,IObjectDefinition) Spring.Objects.Factory.Support.DefaultListableObjectFactory.RegisterObjectDefinition(string,IObjectDefinition) Spring.Objects.Factory.Support.DefaultListableObjectFactory.RegisterObjectDefinition(string,IObjectDefinition) Spring.Objects.Factory.Support.DefaultListableObjectFactory.RegisterObjectDefinition(string,IObjectDefinition) Spring.Objects.Factory.Support.DefaultListableObjectFactory.RegisterObjectDefinition(string,IObjectDefinition)