ConcurrentBag.Contains() ConcurrentBag.Contains() ConcurrentBag.Contains() ConcurrentBag.Contains() ConcurrentBag.Contains() ConcurrentDictionary.TryGetValue() ConcurrentDictionary.TryGetValue() ConcurrentDictionary.TryGetValue() ConcurrentDictionary.TryGetValue() ConcurrentDictionary.TryGetValue() ConcurrentDictionary.TryAdd() ConcurrentDictionary.TryAdd() ConcurrentDictionary.TryAdd() ConcurrentDictionary.TryAdd() ConcurrentDictionary.TryAdd() ConcurrentBag.Add() ConcurrentBag.Add() ConcurrentBag.Add() ConcurrentBag.Add() ConcurrentBag.Add() ILog.DebugFormat() ILog.DebugFormat() ILog.DebugFormat() ILog.DebugFormat() ILog.DebugFormat()