Log.isInfoEnabled() Log.isInfoEnabled() Log.isInfoEnabled() Log.isInfoEnabled() Log.isInfoEnabled() Log.info() Log.info() Log.info() Log.info() Log.info() ResourceAdapterApplicationContext.setClassLoader() ResourceAdapterApplicationContext.setClassLoader() ResourceAdapterApplicationContext.setClassLoader() ResourceAdapterApplicationContext.setClassLoader() ResourceAdapterApplicationContext.setClassLoader() ResourceAdapterApplicationContext.refresh() ResourceAdapterApplicationContext.refresh() ResourceAdapterApplicationContext.refresh() ResourceAdapterApplicationContext.refresh() ResourceAdapterApplicationContext.refresh() Log.info() Log.info() Log.info() Log.info() Log.info()