SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob() SpringObjectJobFactory.NewJob()