Ejb3Configuration.addPackage() Ejb3Configuration.addPackage() Ejb3Configuration.addPackage() Ejb3Configuration.addPackage() Ejb3Configuration.addPackage() Ejb3Configuration.configure() Ejb3Configuration.configure() Ejb3Configuration.configure() Ejb3Configuration.configure() Ejb3Configuration.configure() Ejb3Configuration.buildEntityManagerFactory() Ejb3Configuration.buildEntityManagerFactory() Ejb3Configuration.buildEntityManagerFactory() Ejb3Configuration.buildEntityManagerFactory() Ejb3Configuration.buildEntityManagerFactory()