Data.CreateCommand() Data.CreateCommand() Data.CreateCommand() Data.CreateCommand() Data.CreateCommand() Data.CreateCommandBuilder() Data.CreateCommandBuilder() Data.CreateCommandBuilder() Data.CreateCommandBuilder() Data.CreateCommandBuilder() Data.CreateConnection() Data.CreateConnection() Data.CreateConnection() Data.CreateConnection() Data.CreateConnection() Data.CreateParameter() Data.CreateParameter() Data.CreateParameter() Data.CreateParameter() Data.CreateParameter()